@using FinancialPortal.Models

@{
    Layout = "/Views/Shared/_SecondLayout.cshtml";
}

@model FinancialPortal.Models.ForgotPasswordViewModel

    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login">
            <div class="card-header">
                <div class="card-header">
                    <h3 class="header text-center">Forgot Your Password?</h3>
                </div>
            </div>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="card-body">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <h4>Enter your email.</h4>
                    <hr />
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-email-85"></i>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-danger btn-round btn-block mb-3">Email Link</button>
                </div>
            }
        </div>
    </div>