
@{
    Layout = "/Views/Shared/_SecondLayout.cshtml";
}

    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="header text-center">Lobby</h3>
            </div>
            <div class="card-body text-center">
                Welcome to your Financial Portal!<br />
                To begin, join or create a household below.
            </div>
            <div class="card-footer">
                @Html.ActionLink("Create Household", "Create", "Household", null, new { @class = "btn btn-danger btn-round btn-block mb-3" })
            </div>
            <div class="card-footer">
                @Html.ActionLink("Join Household", "Join", "Household", null, new { @class = "btn btn-danger btn-round btn-block mb-3" })
            </div>
        </div>
    </div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
