@using FinancialPortal.ViewModels;
@using FinancialPortal.Models;
@using Microsoft.AspNet.Identity;

@{
    var db = new ApplicationDbContext();
    var user = db.Users.Find(User.Identity.GetUserId());
}

@Html.Partial("UpdateUserPartial", new UpdateViewModel { Id = user.Id, AvatarUrl = user.AvatarUrl, DisplayName = user.DisplayName, FirstName = user.FirstName, LastName = user.LastName, Email = user.Email })
@Html.Partial("ChangePasswordPartial", new ChangePasswordViewModel { ConfirmPassword = user.PasswordHash })

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
